<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
	<div id="cell"> 
		<my-header></my-header>
		<ul>
			<li v-for="(item ,index) in list">
				{{item.name}}--{{item.age}}--{{index}}
			</li>
		</ul>

		<ul>
			<li v-for="(value,key) in obj">{{key}}--{{value}}</li>
		</ul>
		
		<button v-on:click="addItem">	addItem</button>
		
		<a v-bind:href="baidulink">baidu</a>

	 </div>		


	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript">

		Vue.component('my-header',{
			template : '<p>thie is my header</p>'
		})


		let cell = new Vue({
			el: '#cell',
			methods:{
				addItem : function(){

					var a  = {
						name: 'aaaa',
						age : 12
					};
					// 更新数组，列表会自动更新
					this.list.push(a);
					console.table(this.list);	
				},
			},
			data: {
				name:'cocoa',
				baidulink:'http://www.baidu.com',
				list:[
					{	
						name: 'cocoa',
						age : 19,
					},
					{
						name:'hahah',
						age : 20,
					}
				],
				obj :{
					name : 'cocoa',
					age : 12,
					sex : 1,
				}
			},
			// template: '<p>Hello template {{name}} </p>'
		});

		console.log(cell.name);

	</script>
</body>
</html>