<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
		.parent{
			display: flex;
		}

		.child{
			margin:0px auto;
		}
	</style>

</head>
<body>

	<p>
       		<br>原理：通过CSS3中的布局利器flex将子框转换为flex item，再设置子框居中以达到居中。
       		<br>用法：先将父框设置为display:flex，再设置子框margin:0 auto。
       		<br> 缺点：低版本浏览器(ie6 ie7 ie8)不支持

       		<br>margin后面如果只有两个参数的话，第一个表示top和bottom，第二个表示left和right,因为0 auto，表示上下边界为0，左右则根据宽度自适应相同值（即居中） 
	</p>

	<div class="parent">
		<div class="child">DEMO
		</div>	
	</div>

	
</body>
</html>