<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="app1" v-if="ok">
		<h5 v-if="ok">true</h5>
		<h5 v-else>false</h5>
		
		<template v-if="ok">
			<h1>title</h1>		
		</template>
		
	</div>

	<div id="app2">
		<div v-if="type === 'A'">
			A
		</div>
		<div v-else-if="type === 'B'">
			B
		</div>
		<div v-else>
			C
		</div>
	</div>

	
</body>
<script type="text/javascript">
var app1 = new Vue({
	el:"#app1",
	data:{
		ok:true
	}
})

var app2 = new Vue({
	el:"#app2",
	data:{
		type:'C'
	}
});
</script>
</html>